@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*<form method='post' action='/helloworld/welcome'>
<input type='text' name='name' />
    <select name='language'>
        <option value='Hello'>English</option>
        <option value='Bonjour'>French</option>
        <option value='Hola'>Spanish</option>
        <option value='Aloha'>Hawaiian</option>
        <option value='Mabuhay'>Tagalog</option>
        <input type='submit' value='Greet Me!' />
    </select>
</form>*@